Health {
    position: absolute;
    background-color: rgba( black, 0.3 );
    border-radius: 3px;
    left: 50px;
    bottom: 60px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 0 20px;
    align-items: center;

    .icon {
        font-size: 30px;
        padding-right: 10px;
    }
}

RemainingPlayers {
    position: absolute;
    background-color: rgba( black, 0.3 );
    border-radius: 3px;
    right: 50px;
    bottom: 60px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 0 20px;
    align-items: center;
}

RoundTimer {
    position: absolute;
    background-color: rgba( black, 0.0 );
    border-radius: 3px;
    right: 50%;
    bottom: 920px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 0 20px;
    align-items: center;
}

CurrentRound {
    position: absolute;
    background-color: rgba( black, 0.0 );
    border-radius: 3px;
    right: 50%;
    bottom: 1000px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 0 20px;
    align-items: center;
}