Health {
    position: absolute;
    background-color: rgba( black, 0.3 );
    border-radius: 3px;
    left: 50px;
    bottom: 60px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 0 20px;
    align-items: center;
}

RemainingPlayers {
    position: absolute;
    background-color: rgba( black, 0.3 );
    border-radius: 3px;
    right: 100px;
    bottom: 60px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 0 20px;
    align-items: center;
}

RoundTimer {
	position: absolute;
	bottom: 80px;
	left: 40px;
	font-size: 70px;
	color: #fff;
	font-family: Roboto;

    	label {
		color: rgb(214, 61, 112);
		text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.877);

		&.timer
		{
			color: #fff;
		}

		&.round
		{
			font-size: 55px;
			top: 15px;
			left: 15px;
		}
	}
}
